body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ddd;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 4px solid black;
}

.branca {
    background-color: black;
}

.preta {
    background-color: white;
}